Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
missing
cfgcommand.sh
config.h
config.log
config.status
stamp-h1
doc/pattern_class_prob.aux
pattern_class_prob.bbl
pattern_class_prob.blg
pattern_class_prob.log
pattern_class_prob.out
pattern_class_prob.pdf
pattern_class_prob.toc
